<div class="card">
  <div class="card-img-top">
    <img src="{{0.flag}}" alt="{{0.name}}">
  </div>
  <div class="card-body">
    <h2 class="card-title">Имя: {{0.name}}</h2>
    <p class="card-text">Capital: {{0.capital}}</p>
    <p class="card-text">Population: {{0.population}}</p>

    <p class="card-text"><b>Languages:</b></p>
    {{!-- <ul class="list-group"></ul>
    {{#each 0.languages}}
    <li class="list-group-item">{{0.languages.name}}</li>
    {{/each}}
    </ul> --}}
  </div>
</div>